:root {
  /* Text */
  --14-16: calc(14px + (16 - 14) * ((100vw - 320px) / (1200 - 320)));
  --12-16: calc(12px + (16 - 12) * ((100vw - 320px) / (1200 - 320)));
  --11-16: calc(11px + (16 - 12) * ((100vw - 320px) / (1200 - 320)));

  --primary-color: #2c3333;
  --third-color: #395b64;
  --four-color: #61dafb;
  --secondary-color: #e7f6f2;
  --button-color: #d56c7a;
  --bgcolor-list-item: #d1d1d1;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in;
}

a:hover {
  color: var(--button-color);
  box-shadow: inset 0 -2px 0 var(--button-color);
}

footer {
  grid-area: 3 / 1 / 4 / 4;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.3s ease-in;
}

footer a:hover {
  color: var(--four-color);
  box-shadow: none;
}

footer p {
  margin: 0;
  padding: 0.7rem 0;
}

header {
  background-color: #2c3333;
  grid-area: 1 / 1 / 2 / 4;
}

main {
  grid-area: 2 / 2 / 3 / 3;
}

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 10fr 1fr;
}

.App-header {
  background-color: #2c3333;
}

.App-link {
  color: var(--four-color);
}

.active {
  color: var(--button-color);
  font-weight: bold;
  pointer-events: none;
  box-shadow: inset 0 -2px 0 var(--button-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: #e7f6f2;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1200 - 320)));
  letter-spacing: 1px;
}

.header-menu .header-navbar ul {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0;
  align-items: center;
}

.header-navbar li {
  padding: 0 1rem;
}

.header-menu .header-navbar a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.3s ease-in;
  padding: 1rem 0;
}

.header-menu .header-navbar a:hover {
  box-shadow: inset 0 -2px 0 var(--four-color);
  color: var(--four-color);
}

.header-menu .header-navbar .active {
  color: #61dafb;
  font-weight: bold;
  pointer-events: none;
}

/* Section Buttons App */
.app-buttons {
  display: flex;
  flex-direction: column;
}

.app-buttons button {
  width: 100%;
  margin: 0.5rem 0;
  background-color: var(--button-color);
  color: var(--primary-color);
  border: none;
  transition: all 0.3s ease-in;
}

.app-buttons button:hover {
  background-color: var(--four-color);
}

header .container img {
  width: 76px;
}

/* App router Section */
.app-container-router {
  margin-top: 2rem;
}

nav .list-menu,
.section-page-list {
  list-style: none;
  padding: 0;
}
nav .list-menu li {
  padding: 1rem;
  font-size: var(--12-16);
}

nav .list-menu li p {
  margin: 0.5rem 0;
}

nav .list-menu li:nth-child(odd) {
  background-color: var(--bgcolor-list-item);
}
.list-menu li div,
.section-page-list {
  display: flex;
  justify-content: space-evenly;
}

.section-page {
  margin: 2rem 0;
  border-top: 1px solid var(--button-color);
}

.text-capitalize {
  text-transform: capitalize;
}

/* Crud API */
.crud-api {
  font-size: var(--12-16);
  margin-bottom: 2rem;
}
.crud-api header {
  background-color: #fff;
}

.crud-api header nav {
  display: flex;
  justify-content: space-evenly;
}

.crud-api tr td:last-child {
  display: flex;
  justify-content: center;
}

.crud-api form {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* Descktop */
@media (min-width: 779px) {
  .header-menu {
    flex-direction: row;
    padding: 0 1rem;
  }

  /* Section Buttons App */
  .app-buttons {
    flex-direction: row;
  }

  .app-buttons button {
    margin: 0 1rem;
  }

  /* Crud API */
  .crud-api form {
    max-width: 450px;
  }
}
