.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100%;
  max-width: 100%;
  min-height: 70px;
  align-items: center;
  padding: 0 3%;
  justify-content: space-between;
}

.App-header img {
  max-width: 300px;
  height: auto;
  align-items: center;
}

.App-header h1 {
  color: #292929;
}

@media (max-width: 576px) {
  .App-header {
    display: flex;
    flex-direction: column;
  }

  .App-header>a:nth-child(3) {
    padding: 0 3%;
    display: none;
  }

  .App-header>a:nth-child(1) {
    padding-top: 3%;
  }
}